.card-title {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

.price {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: medium;
  color: #ee9972;
}
