// Import all of Bootstrap CSS
//@import "../../node_modules/bootstrap/scss/bootstrap";
//@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #ffffff;
$body-color: #000000;
$font-family-sans-serif: 'Karla', system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-family-serif: 'Markazi Text Variable', Georgia, serif;
$font-size-base: 16px;
:root {
  --main-font: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--main-font);
  --serif-font: 'Markazi Text Variable', Georgia, serif;
  font-weight: 400;
  --brand-dark-color: #495e57;
  --brand-light-color: #f4ce14;
  --brand-secondary-dark-color: #ee9972;
  --brand-secondary-light-color: #fbdabb;
  --brand-highlight-light-color: #edefee;
  --brand-highlight-dark-color: #333333;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}


body {
  font-family: var(--main-font);
  font-size: 16px;
  width: 100%;
  background-color:  #ffffff;
  color: black;
  box-sizing: border-box;
}

.grid {
  display: grid;
  max-width: 1440px;
  gap: 20px;
  grid-template-columns: repeat(12, 96px);
  grid-auto-rows: minmax(96px, auto);
  margin: 0 auto;
  padding: 0 20px;
  grid-template-areas:
    repeat(12, 'nav')
    repeat(12, 'header')
    repeat(12, 'main')
    repeat(12, 'footer');
}

.nav-bar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 64px;
  background-color: #fff;
  color: var(--brand-dark-color);
  width: 1vw;
  min-height: 128px;
}

.navbar-nav {
  display: flex;
  padding-left: 128px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

nav > img {
  padding-left: 24px;
  padding-right: 16px;
  height: 48px;
}

.nav-item {
  padding: 8px;
  padding-left: 64px;
  font-size: 18px;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: var(--brand-dark-color);
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--brand-dark-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

main {
  display: block;
  width: 100%;
  color: #ffff;
  background-color: #434343;
}

.hero {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  width: 100%;
  min-height: 960px;
  max-height: 960px;

  justify-content: left;
  align-items: top;
  color: #ffffff;
  background-color: #495e57;
}
.left-side {
  margin-left: 64px;
  display: block;
  width: 65em;

}
.right-side {
  display: block;
  height: 1080px;
}
.right-side img {
  object-fit: contain;
  border-radius: 32px;
}
.hero h1 {
  margin-left: 64px;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 48pt;
  font-weight: bold;
  color: var(--brand-light-color);
  font-family: 'Markazi Text Variable', Georgia, serif;
}
.hero h2 {
  margin-left: 64px;
  margin-top: 0;
  font-size: 32pt;
  font-weight: medium;
  color: white;
  font-family: 'Markazi Text Variable', Georgia, serif;
}

.hero p {
  display:inline;
  margin-top: 0;
  font-size: 18pt;
  font-weight: regular;
  color: white;
  width: 40em;
  max-width: 40em;
  font-family: var(--main-font);
  line-height: 1.5;
}

.hero button {
  margin-left: 64px;
  margin-top: 64px;
}

.textblock {
  display: block;
  width: 32em;
  max-width: 32em;
  margin-top: 0;
  margin-left: 64px;
}

.highlights {
  display: block;
  background-color: white;
  color: #495e57;

}

.highlights > h2 {
  margin-top: 80px;
  margin-left: 64px;
}

.cards {
  margin-top: 64px;
  margin-left:64px;
  align-self: center;
}

.testimonials {
  display: block;
  background-color: var(--brand-highlight-light-color);
}

.about {
  display: block;
  background-color: var(--brand-highlight-dark-color);
}

.footer {
  display: block;
  background-color: var(--brand-highlight-light-color);
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f4ce14;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #495e57;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.display-title {
  font-family: 'Markazi Text Variable', Georgia, serif;
  font-size: 64pt;
  font-weight: medium;
}

.sub-title {
  font-family: 'Markazi Text Variable', Georgia, serif;
  font-size: 40pt;
  font-weight: regular;
}

.lead-text {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: medium;
}

.section-title {
  font-family: 'Karla', sans-serif;
  font-size: 20pt;
  font-weight: extra-bold;
  text-transform: uppercase;
}

.categories-text {
  font-family: 'Karla', sans-serif;
  font-size: 10pt;
  font-weight: extra-bold;
}

.card-title {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

.paragraph {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: regular;
  line-height: 1.5;
  color: #495e57;
}

.hightlight {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: medium;
  color: #495e57;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
